@font-face {
    font-family: Vazir;
    src: url('Vazir-Regular.eot');
    src: url('Vazir-Regular.eot?#iefix') format('embedded-opentype'),
        url('Vazir-Regular.woff2') format('woff2'),
        url('Vazir-Regular.woff') format('woff'),
        url('Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Bold.eot');
    src: url('Vazir-Bold.eot?#iefix') format('embedded-opentype'),
        url('Vazir-Bold.woff2') format('woff2'),
        url('Vazir-Bold.woff') format('woff'),
        url('Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body {
    direction: rtl;
    font-family: Vazir;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main {
    height: 100vh;
    background-image: url(Earth_at_Night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: rgba(0, 0, 0, 0.65);
    width: 440px;
    height: 348px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}
form {
    margin-top: 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 18px;
}
h4 {
    color: white;
    font-size: 1.1rem;
    font-weight: normal;
}
button {
    color: white;
    width: 324px;
    background-color: #28a745;
    border: 1px solid #28a745;
    border-radius: 4px;
    padding: 6px;
    font-size: 1rem;
    font-family: Vazir;
}
p {
    color: white;
    font-size: 1rem;
}
span.btn {
    text-align: center;
}
a {
    display: inline;
    text-decoration: none;
    font-weight: bold;
}
a:link, a:visited, a:hover, a:active {
    color: #007bff;
}
input {
    border: 1px solid white;
    border-radius: 4px;
    width: 324px;
    padding: 6px;
    font-family: Vazir, FontAwesome;
    font-size: 1rem;
}
